/* Header styles */
.header {
    background-image: url('logo.jpg'); /* Set background image */
    background-size: cover;
    padding: 20px;
    text-align: center;
  }
  
  body {
    background-color: #f8f8d2; /* Dark grey background */
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Cute font */
  }
  
  .logo {
    color: #f8faf6; /* Bright green color */
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow for depth */
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-link {
    text-decoration: none;
    color: #ffffff; /* White color for navigation links */
    font-size: 24px;
    margin: 0 20px;
    transition: font-size 0.3s, color 0.3s; /* Add transition for smooth effect */
  }
  .nav-links:hover {
      color: lightgreen;
  }
  .nav-link:hover {
    color: #ffd700; /* Change color on hover */
  }
  
  .nav-link.active {
    font-size: 28px; /* Increase font size for active link */
    animation: flashing 1s infinite alternate; /* Add flashing animation */
  }
  
  @keyframes flashing {
    from {
      font-size: 28px;
    }
    to {
      font-size: 32px;
    }
  }
  
